<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747462675906-5fjk3foluoqcnvh329rfpdoqm5kpdjfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747462675906-5fjk3foluoqcnvh329rfpdoqm5kpdjfk</string>
	<key>API_KEY</key>
	<string>AIzaSyBBi2l1-PaHgHDYcDQ9uxLpv88EO2_0sRg</string>
	<key>GCM_SENDER_ID</key>
	<string>747462675906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ptikFood</string>
	<key>PROJECT_ID</key>
	<string>food-ptik</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ptik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747462675906:ios:cf679f651ae4d20bc21a5b</string>
</dict>
</plist>